/* LoginPopup.css */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(10px);
  align-items: center;
  z-index: 10;
}

.frame{
  position: absolute;
  top: 50%;
  left: 52%;
  width: 100%;
  background-color:none;
  z-index: 10;

}

.login_popup {
  position: sticky;
  top: 50%;
  left: 50%;
  align-items: center;
  transform: translate(-50%, -50%);
  background: white;
  padding-bottom: 100px;
  padding-top: 200px;
  padding-left: 15px;
  border: 1px solid #c2c2c2;
  border-radius: 5%;
  box-shadow: 0 0px 14px rgba(0, 0, 0, 0.2);
  max-width: 27%;
}

.icon {
  position: fixed;
  top: 6%;
  left: 8%;
  border-radius: 1%;
  width: 13%;
  height: 11%;
  object-fit: cover;
}

.headerstyle {
  position: fixed;
  top: 0%;
  left: 0%;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  height: 100px;
  max-width: 100%;
  width: 100%;
  background-color: white;
}

.logIn {
  position: relative;
  top: 38%;
  left: 10%;
  font-size: 70px;
  display: inline-block;
  font-family: Roboto;
  font-weight: 700;
  color: black;
  text-align: center;
  width: 182px;
}

.getATourContainer {
  position: relative;
  top: 25%;
  left: 6%;
  font-family: Roboto;
  font-weight: 400;
  color: #505050;
}

.input {
  align-items: center;
  border-radius: 18px;
  background-color: #fff;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.25) ;
  border: 1px solid #c2c2c2;
  box-sizing: border-box;
  width: 113%;
  height: 40px;
  left: 0px;

}

.createAccount {
  position: absolute;
  top: 85%;
  right: 39%;
  font-size: 14px;
  font-weight: 300;
  font-family: Roboto;
  text-align: center;
  text-decoration: underline;
  color: #505050;
  text-align: center;
}

.createAccount:hover {
  color: #FC6130;
}

.rectangleIcon {
  background: local;
  position: relative;
  width: 100%;
  height: 495px;
  object-fit: cover;
}

.selects {
  background-color: #F9D9D900;
  position: fixed;
  margin-left: 100px;
  width: 10%;
  height: 10px;
}

.user {
  padding-right: 15%;
  color: #C2C2C2;
}

.closebutton {
  position: absolute;
  top: 9%;
  right: 3%;
}

.textclose {
  color: #c2c2c2;
  font-size: medium;
}

.textclose:hover {
  color: #FC6130;
}

.submitstyle {
  position: absolute;
  background-color: #FC6130;
  font-weight: 600;
  padding: 9px 15px;
  font-size: 16px;
  text-align: center;
  color:white;
  top: 50%;
  left: 38%;
  border-radius: 29px;

}

.submitstyle:hover {
  background-color: #FC6130;
  outline: none;
  border: none;
}
.checkbox:hover{
  border-color: #FC6130;
  color: #FC6130;
}